.box{
    float: center;
}
.nav{
    position: center;
    width: 200px;
    background-color: beige;
    border: 0;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
}

.box1{
    display: flex;
}

.box1 ul{
    margin: 0 auto;
}

h1{
    size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #F6CECC;
    padding: 10px;
  }

.grid-item1 {
    background-color: #E6E2E6;
    border: none;
    border-radius: 20px;
    padding: 100px;
    font-size: 30px;
    text-align: center;
  }

.grid-item2 {
    background-color: #D9E7E5;
    border: none;
    border-radius: 20px;
    padding: 100px;
    font-size: 30px;
    text-align: center;
  }